/*
  @author: amorenocamacho.guadalupe@alumnado.fundacionloyola.net
*/
*{
  margin: 0;
  padding: 0;
}
@font-face {  /*Declaracion de la fuente*/
  font-family: 'CocaCola';
  font-style: normal;
  font-weight: normal;
  src: local('CocaCola'), url('Coca Cola ii.ttf') format('truetype');
}
.subtitulo{
  color: #C7141A;
  font-size: 2em;
  font-family: 'CocaCola', sans-serif;
}
.resaltadas{
  color: #C7141A;
}
#primimg{ /*Imagen de la primera pagina*/
  border: 2px solid white;
  border-radius: 14px;
  margin: 0 auto;
  display: block;
	width: 80%;
  max-height: 61.29vh;
}
body{
	background-image: url('images/fondo.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  -moz-background-size: 100%;
	font-size:12px;
	color: #333;
  font-family: sans-serif;
}
/*EFECTO LIBRO___________________________________*/
.booklet { /*Libro*/
  width:63.058vw;
  height:67.74vh;
	position:relative;
	margin:0 auto;
	-moz-box-shadow:0px 0px 1px #fff;
	-webkit-box-shadow:0px 0px 1px #fff;
	box-shadow:0px 0px 1px #fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.booklet .b-wrap-left  { /*Paginas Impares*/
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.booklet .b-wrap-right { /*Paginas pares*/
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.booklet .b-counter { /*Contador de pagina*/
	bottom: 0;
	position:absolute;
	display:block;
	width:90%;
	height: auto;
	border-top:1px solid #ddd;
	color:#222;
	text-align:center;
	font-size:12px;
	padding:5px;
	background:transparent;
	-moz-box-shadow:0px -1px 1px #fff;
	-webkit-box-shadow:0px -1px 1px #fff;
	box-shadow:0px -1px 1px #fff;
	opacity:0.8;
}
.book_wrapper{ /*Contenedor de libro*/
	margin:0 auto;
	padding-top:50px;
  width:66.7367vw;
  height:94.6236vh;
	position:relative;
	background:transparent url(images/bg.png) 9px 27px;
  background-size: 100% 77.74%;
  background-repeat: no-repeat;
  -moz-background-size: 100%;
}
.book_wrapper h1{
	color: #C7141A;
	font-size:3em;
  font-family: 'CocaCola', sans-serif;
  text-align: center;
}
.book_wrapper p{
	font-size:1.2em;
  padding: 10px;
  text-align: justify;
}
.book_wrapper a.article, .book_wrapper a.demo{
	display:block;
	width:95px;
	height:41px;
	text-decoration:none;
	outline:none;
	font-size:16px;
	color:#555;
	float:left;
	line-height:41px;
	padding-left:47px;
}
.book_wrapper a.demo{
	margin-left:50px;
}
.book_wrapper a.article:hover, .book_wrapper a.demo:hover{
	background-position:50% -41px;
	color:#13386a;
}
.booklet .b-wrap-right img{
	border:1px solid #E6E3C2;
}
/*Efecto para pagina siguiente y anterior (Libro)*/
a #prev_page_button{
	left:-30px;
}
a #next_page_button{
	right:-30px;
	background-position:-41px -40px;
}
a #next_page_button:hover{
	background-position:-41px 0px;
}
a #prev_page_button:hover{
	background-position:0px 0px;
}
#mybook{
  display: none;
}
/*EFECTOS VARIOS_________________________________*/
.flechas{
  display: none;
}
#maniqui{
  float: left;
  width: 40%;
  border-bottom: 2px solid gray;
  margin-right: 10px;
}
#pag6{
  padding: 30px;
}
.video{
  width: 80%;
  height: 30vh;
  display: block;
  margin: 15px auto;
  border: 1px solid black;
  border-radius: 10px;
}
/*EFECTO NAVEGADOR___________________________________*/
nav{
  display: block;
  position: relative;
  top: 15vh;
}
#navegador{
  position: relative;
  top: 10vh;
}
nav ul {
	list-style: none;
	overflow: hidden;
}
nav ul li {
	font-size: 1.8em;
	font-weight: bold;
	padding-left: 50px;
}
a{
  text-decoration: none;
  color: #000;
}
nav a {
	display: block;
	padding: 25px;
	transition:all .3s ease-in-out;
}
nav a:hover {
	color: yellow;
	transition: transform .3s;
}
/*Efecto para boton iniciar*/
#iniciar{
  margin: 30px;
  transition:all .3s ease-in-out;
}
#iniciar:hover{
  color: red;
}
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
/*EFECTO CUADRO IMAGEN___________________________________*/
.efecto {
  width: 66.6666667%;
  height: 32.2589vh;
	max-width: 400px;
  max-height: 300px;
  margin: 30px auto 70px auto;
	perspective: 1000px;
}
.efecto a {
	display: block; width: 100%; height: 100%;
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("images/pagina2.png");
	background-size: 0, cover;
	transform-style: preserve-3d; /*Otorgamos espacio para el 3D*/
	transition: all 0.5s;
}
.efecto:hover a {transform: rotateX(80deg); transform-origin: bottom;}
.efecto a:after {/*Capa de debajo */
	content: ''; position: absolute; left: 0; bottom: 0;
	width: 100%; height: 36px;
	background: inherit; background-size: cover, cover;
	background-position: bottom;
	transform: rotateX(90deg); transform-origin: bottom; /*movimiento de la imagen*/
}
.efecto a span {
	color: white; text-transform: uppercase;
	position: absolute; top: 100%; left: 0; width: 100%;
	font: bold 12px/36px Montserrat; text-align: center;
  transform: rotateX(-89.99deg); transform-origin: top; /*Colocación del texto con una rotación algo menor*/
	z-index: 1;
}
.efecto a:before {/*Efecto de la sombra de debajo del cuadro*/
	content: ''; position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	opacity: 0.15;
	transform: rotateX(95deg) translateZ(-80px) scale(0.75);
	transform-origin: bottom;
}
.efecto:hover a:before {
	opacity: 1;
	box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
	transform: rotateX(0) translateZ(-60px) scale(0.85);
}
/*JUEGO________________________________________________*/
.recogida, .salida, .salida2{
  overflow: hidden;
  max-height: 60vh;
}
.recogida button, .salida button, .salida2 button{
  float: left;
  width: 30%;
}
.salida2{
  display: none;
}
.salida button, .recogida button{
  transition:all .3s ease-in-out;
}
.salida button:hover, .salida2 button:hover{
  color: lightgreen;
  background-color: green;
}
.recogida button:hover{
  color: red;
  background-color: #C7141A;
}
.enviarjuego{
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
}
.especialtitle{
  display: none;
}
/*MEDIAS QUERYS _______________________________________*/
@media screen and (max-width: 1440px){
  nav ul li {
  	font-size: 1.5em;
  }
  .book_wrapper p{
  	font-size:1em;
  }
}
@media screen and (max-width: 1100px){
  .book_wrapper p{
  	font-size:0.8em;
  }
  .efecto {
    margin: 20px auto 20px auto;
  }
  .book_wrapper{
  	background:transparent url(images/bg.png) 9px 35px;
    background-size: 100% 77.74%;
    background-repeat: no-repeat;
    -moz-background-size: 100%;
  }
  nav ul li {
    padding-left: 0;
  }
  nav ul li a{
  	padding: 10px;
  }
}
@media screen and (max-width: 1024px){
  .book_wrapper{
  	background:transparent url(images/bg.png) 9px 35px;
    background-size: 100% 77.74%;
    background-repeat: no-repeat;
    -moz-background-size: 100%;
  }
  nav ul li {
  	font-size: 1em;
    padding-left: 0;
  }
  nav ul li a{
  	padding: 10px;
  }
  .book_wrapper p{
  	font-size:0.7em;
  }
}
@media screen and (max-width: 900px){
  .book_wrapper{
  	background:transparent url(images/bg.png) 9px 40px;
    background-size: 100% 77.74%;
    background-repeat: no-repeat;
    -moz-background-size: 100%;
  }
}
@media screen and (max-width: 800px){
  body {
    background-color: #C7141A;
    background-image: none;
  }
  #primimg{
  	width: 80%;
    max-height: 81.29vh;
  }
  .b-wrap-left{
    margin: 0 auto;
    border-radius: 10px;
  }
  .b-wrap-right{
    border-radius: 10px;
  }
  .book_wrapper{
  	background:none;
  }
  .flechas{
    display: block;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .especialtitle{
    display: block;
    position: absolute;
    top: 35vh;
    left: 0;
    right: 0;
  }
  .pure img, .pure-atras img, .pure2 img{
    width: 25px;
    height: auto;
  }
  .book_wrapper p{
  	font-size:0.8em;
  }
  .booklet .b-wrap-left  .b-counter  {left:auto;}
	.booklet .b-wrap-right .b-counter {right:auto;}
  .booklet .b-counter { width: 90%;}
  .salida2{
    display: block;
  }
  .recogida button, .salida button, .salida2 button{
    float: left;
    width: auto;
    font-size: 0.8em;
    padding: 0.5em 1em;
  }
  .salida2{
    position: absolute;
    top: 45vh;
  }
}
